@using BeviSano.Controllers
@model ProductsListAdminView;


@{
    ViewData["Title"] = "Pagina Admin";
}

@if (HomeController.MainAccount != null && HomeController.MainAccount.admin)
{
    <div class="container">
        <div>
            <div class="d-flex justify-content-end my-3">
                <a class="btn text-white p-2" asp-controller="Admin" asp-action="Add" style="background-color: #5c4d4d; border-color: #5c4d4d;">Aggiungi prodotto</a>
            </div>

            <table class="table table-striped table-hover border text-center">
                <thead>
                    <tr class="border " style="background-color:#5c4d4d; background: rgb(92,77,77);background: linear-gradient(90deg, rgba(92,77,77,1) 40%, rgba(145,91,74,1) 80%); color:white;">
                        <th class="py-3">Prodotto</th>
                        <th class="py-3">Nome</th>
                        <th class="py-3">Prezzo</th>
                        <th class="py-3">Quantità disponibili</th>
                        <th class="py-3">Produttore</th>
                        <th class="py-3">Sconto applicato</th>
                        <th class="py-3">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr class="border align-middle">
                            <td>
                                <img src="@product.Cover_Product" alt="@product.Name_Product" style="max-width:100px; border-radius: 4px;" />
                            </td>
                            <td class="fw-bold" style="color:#5c4d4d;">@product.Name_Product</td>
                            <td>@product.Price_Product.ToString("0.00")€</td>
                            <td>@product.Stock_Product</td>
                            <td>@product.Seller_Product</td>
                            <td>@product.Sale_Product.ToString("0")%</td>
                            <td>
                                <a class="btn text-white me-2" asp-controller="Admin" asp-action="Edit" asp-route-id="@product.Id_Product" style="border-color: #915b4a; color: #915b4a;">
                                    <i class="bi bi-pencil-fill" style="color:#915b4a;"></i>
                                </a>
                                <a class="btn text-white" asp-controller="Admin" asp-action="Delete" asp-route-id="@product.Id_Product" style="background-color: #915b4a; border-color: #915b4a;">
                                    <i class="bi bi-trash3-fill"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
else
{
    <div class="container my-5">
        <h3>Effettua l'accesso come amministratore per vedere questa pagina!</h3>
    </div>
}
