@model ProductListCart
@{
	TempData["Title"] = "Carrello";
	decimal totalCart = 0;
}

<div class="container mt-3">
	<div class="p-4 rounded shadow-lg" style="background-color: #f2f1e7;">
		<div class="row align-items-center">
			<div class="col-4 col-md-2 col-xl-1">
				<img src="~/lib/img/Bevi_Sano_Home.png" alt="logo" class="img-fluid   " style="max-width: 100px; height: 100px;" />
			</div>
			<div class="col-8 col-md-10 col-xl-11">
				<h5 style="color:#5c4d4d;">Riepilogo dell'ordine</h5>
			</div>
		</div>
		<div class="row">
			@if (Model.Products != null && Model.Products.Count > 0)
				{
					
					<table class="table table responsive border-0 table-hover text-center m-0 p-0">
					<thead>
						<tr class="border" style="color:#5c4d4d">

							<th >Product</th>
							<th >Name</th>
							<th >Qt</th>
							<th>€</th>
							<th >Sale</th>
							<th>Remove</th>
							
						</tr>
					</thead>

					<tbody>
							@foreach (var product in Model.Products)
							{
								var arrivalDate = DateTime.Today.AddDays(product.Arrival_Date_Product);
								decimal totalProduct = 0;
								totalProduct += (product.Price_Product - (product.Price_Product / 100 * product.Sale_Product)) * product.Quantity_Product;
								totalCart += product.Price_Product * product.Quantity_Product;
								<tr class="border align-middle">
									<td>
										<img src="@product.Cover_Product" alt=@product.Name_Product style="max-width:60px; border-radius: 4px;" />
									</td>
									<td class="fw-bold w-auto" style="color:#5c4d4d;">@product.Name_Product</td>
									
									<td class="w-auto">@product.Quantity_Product</td>
									<td class="w-auto">@totalProduct.ToString("0.00")€</td>
									<td class="w-auto">@product.Sale_Product.ToString("0")%</td>
									<td class="w-auto">
										<a class="btn me-2 text-white" asp-controller="Cart" asp-action="Delete" asp-route-id=@product.Id_Product style="background-color: #915b4a; border-color: #915b4a;">Remove </a>
									</td>
								</tr>
						
							
							}
						</tbody>
					</table>
				
				


				}
		</div>
	</div>
	@if (Model.Products == null || Model.Products.Count == 0)
	{
		<p>Non ci sono prodotti nel carrello</p>
	}
	<div class="p-4 rounded shadow-lg" style="background-color: #f2f1e7;">
		<p>Data Consegna:</p>
		<p>Costo di spedizione:</p>
		<p>Eventuale sconto applicato</p>
		<p>Totale nel carello: @totalCart.ToString("0.00")€</p>
	</div>
	
</div>
