@model ProductListCart
@{
	TempData["Title"] = "Carrello";
	decimal totalCart = 0;
	DateTime maxArrivalDate = DateTime.Today;
}

<div class="container mt-3">
	<div class="p-4 rounded shadow-lg" style="background-color: #f2f1e7;">
		<div class="row align-items-center">
			<h5 class="fw-bold text-center mb-3" style="color:#5c4d4d;">
				<i class="bi bi-cart-check me-2"></i> Riepilogo Ordine
			</h5>
		</div>
		<div class="row">
			@if (Model.Products != null && Model.Products.Count > 0)
			{

				<table class="table table responsive border-0 table-hover text-center m-0 p-0">
					<thead>
						<tr class="border" style="color:#5c4d4d">

							<th>Product</th>
							<th>Name</th>
							<th>Qt</th>
							<th>Price</th>
							<th>Remove</th>

						</tr>
					</thead>

					<tbody>
						@foreach (var product in Model.Products)
						{

							var arrivalDate = DateTime.Today.AddDays(product.Arrival_Date_Product);
							if (arrivalDate > maxArrivalDate)
							{
								maxArrivalDate = arrivalDate;
							}


							decimal totalProduct = 0;
							totalProduct += (product.Price_Product - (product.Price_Product / 100 * product.Sale_Product)) * product.Quantity_Product;
							totalCart += product.Price_Product * product.Quantity_Product;
							<tr class="border align-middle">
								<td>
									<img src="@product.Cover_Product" alt=@product.Name_Product style="max-width:60px; border-radius: 4px;" />
								</td>
								<td class="fw-bold w-auto" style="color:#5c4d4d;">@product.Name_Product</td>

								<td class="w-auto">@product.Quantity_Product</td>
								<td>
									@if (product.Sale_Product > 0)
									{
										var discountedPrice = product.Price_Product - (product.Price_Product * product.Sale_Product / 100);
										<p class="h6 fw-medium">

											<span class="text-muted text-decoration-line-through">@product.Price_Product.ToString("0.00") €</span>
											<i class="bi bi-arrow-right"></i> <span style="color: #5c4d4d;">@discountedPrice.ToString("0.00") €</span>
										</p>
									}
									else
									{
										<p class="h6 fw-medium" style="color: #5c4d4d;">@product.Price_Product.ToString("0.00") €</p>
									}
								</td>

								<td class="w-auto">
									<a class="btn me-2 text-white" asp-controller="Cart" asp-action="Delete" asp-route-id=@product.Id_Product style="background-color: #915b4a; border-color: #915b4a;"><i class="bi bi-trash"></i> </a>
								</td>
							</tr>


						}
					</tbody>
				</table>




			}
		</div>







	</div>


	<div class="p-4 rounded shadow-lg mt-3" style="background-color: #f2f1e7;">
		

		@if (Model.Products == null || Model.Products.Count == 0)
		{
			<p class="text-center text-danger fw-bold">Il carrello è vuoto!</p>
		}
		else
		{
			<div class="d-flex justify-content-between border-bottom pb-2 mb-2">
				<span class="fw-bold" style="color:#5c4d4d;">Data Consegna:</span>
				<span style="color:#5c4d4d;">@maxArrivalDate.ToString("dd/MM/yyyy")</span>
			</div>

			<div class="d-flex justify-content-between border-bottom pb-2 mb-2">
				<span class="fw-bold" style="color:#5c4d4d;">Sconto FidelityCard:</span>
				<span style="color:#5c4d4d;">-</span>
			</div>

			@if (totalCart > 50)
			{
				<div class="d-flex justify-content-between border-bottom pb-2 mb-2">
					<span class="fw-bold" style="color:#5c4d4d;">Costo di spedizione:</span>
					<span class="text-success fw-bold">Consegna gratuita</span>
				</div>

				<div class="d-flex justify-content-between fw-bold fs-5">
					<span style="color:#5c4d4d;">Totale da pagare:</span>
					<span style="color:#5c4d4d;">@totalCart.ToString("0.00")€</span>
				</div>
			}
			else
			{
				decimal shippingCost = 4.99m;
				decimal finalTotal = totalCart + shippingCost;

				<div class="d-flex justify-content-between border-bottom pb-2 mb-2">
					<span class="fw-bold" style="color:#5c4d4d;">Totale prodotti:</span>
					<span style="color:#5c4d4d;">@totalCart.ToString("0.00")€</span>
				</div>

				<div class="d-flex justify-content-between border-bottom pb-2 mb-2">
					<span class="fw-bold" style="color:#5c4d4d;">Costo di spedizione:</span>
					<span style="color:#5c4d4d;">@shippingCost.ToString("0.00")€</span>
				</div>

				<div class="d-flex justify-content-between fw-bold fs-5">
					<span style="color:#5c4d4d;">Totale da pagare:</span>
					<span style="color:#5c4d4d;">@finalTotal.ToString("0.00")€</span>
				</div>
			}

			<div class="mt-4 d-flex justify-content-center">
				<a class="btn text-white me-3 px-4 py-2" asp-controller="" asp-action=""
				   style="background-color: #5c4d4d; border-color: #5c4d4d;"> Continua lo Shopping
				</a>

				<a class="btn text-white ps-2 py-2 pe-1 " asp-controller="Cart" asp-action="Order"
				   style="background-color: #a96851; border-color: #a96851;">
					<i class="bi bi-credit-card me-1"></i> Procedi al Pagamento
					<img src="~/lib/img/pngwing.com.png" style="max-width:70px; max-height:80px;"/>
				</a>
			</div>

		}
	</div>
</div>
