@model SingleProduct
@{
    ViewData["Title"] = "BeviSano";
}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <div class="card border-0 shadow-lg bg-transparent mt-5">
                <img src="@Model.Cover_Product" class="img-fluid rounded shadow-lg product-detail-image" alt="@Model.Name_Product">
            </div>
        </div>
        <div class="col-md-8">
			<div class="product-info p-4 rounded shadow  bg-light bg-opacity-75 mt-5 d-flex flex-column">
				<h5 class="h5 text-secondary opacity-50 mb-2">Hai selezionato: </h5>

                <h3 class="mt-2 mb-2">

                    @Model.Name_Product
                </h3>

                <p class="lead price-box"><strong>@Model.Price_Product.ToString("0.00") €</strong></p>
                <p class="text-muted">@Model.Description_Product</p>

                <h4 class="mt-4 text-secondary fw-normal">Altre immagini</h4>
                <div class="d-flex flex-wrap">
                   @*  @foreach (var img in Model.ImmaginiAggiuntive)
                    {} *@
                        <img src="@Model.Cover_Product" class="img-thumbnail mx-2" style="width: 200px; height: 200px; border-radius: 8px; object-fit: cover;" alt="Immagine aggiuntiva">
                    
                </div>

                <a asp-controller="Product" asp-action="Index" class="btn btn-sm btn-secondary mt-4 p-2 align-self-end">Torna alla Vetrina</a>
            </div>
        </div>
    </div>
</div>
