@model SingleProduct
@using BeviSano.Controllers
@{
    ViewData["Title"] = "BeviSano";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<div class="container">
    <div class="row justify-content-between">

        <div class="col-md-7">
            <div class="row pt-3">
                <div class="col-3 d-flex flex-column gap-2">
                    <div class="imgSmall">
                        <img src="@Model.Cover_Product" class="img-fluid border border-3" style="border-color: #f2f1e7 !important; " alt="@Model.Name_Product">
                    </div>

                    @if (Model.Url_Img_One != null)
                    {
                        <div class="imgSmall">
                            <img src="@Model.Url_Img_One" class="img-fluid border border-3" style="border-color: #f2f1e7 !important ; " alt="@Model.Name_Product">
                        </div>
                    }

                    @if (Model.Url_Img_Two != null)
                    {
                        <div class="imgSmall">
                            <img src="@Model.Url_Img_Two" class="img-fluid border border-3" style="border-color: #f2f1e7 !important ; " alt="@Model.Name_Product">
                        </div>
                    }

                    @if (Model.Url_Img_Three != null)
                    {
                        <div class="imgSmall">
                            <img src="@Model.Url_Img_Three" class="img-fluid border border-3" style="border-color: #f2f1e7 !important ; " alt="@Model.Name_Product">
                        </div>
                    }
                </div>
                <div class="col-7">
                    <div class="d-flex justify-content-center align-items-center w-100 bg_form_complete" style="height: 400px">
                        <img src="@Model.Cover_Product" class="img-fluid w-100" id="bigImg" style="border-color: #f2f1e7 !important; max-height: 400px;" alt="@Model.Name_Product" />
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="product-info p-4 rounded d-flex flex-column" style="background-color: #f2f1e7;">
                <div class="row">
                    <p class="text-end fw-bold" style="color: #5c4d4d;">Cod: @Model.Id_Product</p>
                </div>
                <div class="row mt-3">
                    <div class="col-7">
                        <p style="color: #915b4a;">@Model.Category_Name</p>
                        <h2 style="color: #5c4d4d;">@Model.Name_Product</h2>
                        <p style="color: #5c4d4d;">@Model.Seller_Product</p>
                    </div>
                    <div class="col-5">

                        @if (Model.Sale_Product > 0)
                        {
                            var discountedPrice = Model.Price_Product - (Model.Price_Product * Model.Sale_Product / 100);
                            <p class="h6 fw-medium">
                                <span style="color: #915b4a;">Sconto: -@Model.Sale_Product%</span> <br>
                                <span class="text-muted text-decoration-line-through">@Model.Price_Product.ToString("0.00") €</span>
                                <i class="bi bi-arrow-right"></i> <span class="h5" style="color: #a96851;">@discountedPrice.ToString("0.00") €</span>
                            </p>
                        }
                        else
                        {
                            <h4 class="text-end" style="color: #a96851;">@Model.Price_Product.ToString("0.00")€</h4>
                        }


                        @* <h4 class="text-end" style="color: #a96851;">@Model.Price_Product.ToString("0.00")€</h4> *@
                    </div>
                </div>
                <hr style="border-color: #915b4a;" />
                <div class="row mt-3">
                    <p class="text-muted">@Model.Description_Product</p>
                </div>

                <form method="post" asp-controller="Product" asp-action="AddCartDetail" asp-route-id=@Model.Id_Product>
                    <div class="row mt-3">
                        <div class="d-flex justify-content-end">
                            <p class="text-end fw-bold">
                                Quantità:
                                <span style="background-color: rgba(145, 91, 74, 0.2); color: #915b4a; padding: 5px 12px; border-radius: 12px; font-weight: bold; display: inline-block;">
                                    @Model.Stock_Product
                                </span>
                            </p>
                        </div>

                        <div class="d-flex justify-content-end align-items-center mx-0 px-0">
                            <select class="form-select" aria-label="Seleziona quantità" id="quantitySelect">
                                <option>Quantità</option>

                                @for (int i = 1; i < 11; i++)
                                {
                                    if (i > Model.Stock_Product)
                                    {
                                        break;
                                    }
                                    <option value=@i>@i</option>
                                }
                            </select>

                            <input type="hidden" name="quantity" id="quantityInput" value="1" />

                            @if (HomeController.MainAccount != null)
                            {
                                <button type="submit" class="btn btnCart ms-2" style="border-color: #915b4a; color: #915b4a;">
                                    <i class="bi bi-cart-fill"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btnCart ms-2" style="border-color: #915b4a; color: #915b4a; opacity: 30%;" data-bs-toggle="tooltip" data-bs-placement="top" title="Devi effettuare il login per acquistare un prodotto">
                                    <i class="bi bi-cart-fill"></i>
                                </button>
                            }
                        </div>
                    </div>
                </form>

                <div class="row">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-sm text-white mt-4 p-2 align-self-end" style="background-color: #915b4a; border-color: #915b4a;">
                        Torna alla Vetrina
                    </a>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">
                @errorMessage
            </p>
        }
    </div>
</div>

@section Scripts
{
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl)
        {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
        document.getElementById('quantitySelect').addEventListener('change', function() {
            var selectedQuantity = this.value;
            document.getElementById('quantityInput').value = selectedQuantity;
        });
    </script>

    <script src="~/js/Product/Detail.js"></script>
}
