@model SingleProduct
@{
    ViewData["Title"] = "BeviSano";
}

<div class="container">
    <div class="row justify-content-between">

        <div class="col-md-7">
            <div class="row">
                <div class="col-6 p-0">
                    <div><img src="@Model.Cover_Product" class="img-fluid border border-3" style="border-color: #f2f1e7 !important; " alt="@Model.Name_Product"></div>
                    <div><img src="@Model.Cover_Product" class="img-fluid border border-3" style="border-color: #f2f1e7 !important ; " alt="@Model.Name_Product"></div>
                </div>
                <div class="col-6 p-0">
                    <div><img src="@Model.Cover_Product" class="img-fluid border border-3" style="border-color: #f2f1e7 !important; " alt="@Model.Name_Product"></div>
                    <div><img src="@Model.Cover_Product" class="img-fluid border border-3" style="border-color: #f2f1e7 !important; " alt="@Model.Name_Product"></div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="product-info p-4 rounded d-flex flex-column" style="background-color: #f2f1e7;">
                <div class="row">
                    <p class="text-end fw-bold" style="color: #5c4d4d;">Cod: @Model.Id_Product</p>
                </div>
                <div class="row mt-3">
                    <div class="col-7">
                        <p style="color: #915b4a;">Categoria</p>
                        <h2 style="color: #5c4d4d;">@Model.Name_Product</h2>
                    </div>
                    <div class="col-5">
                        <h4 class="text-end" style="color: #a96851;">@Model.Price_Product.ToString("0.00")€</h4>
                    </div>
                </div>
                <hr style="border-color: #915b4a;" />
                <div class="row mt-3">
                    <p class="text-muted">@Model.Description_Product</p>
                </div>
                <div class="row">
                    <a asp-controller="" asp-action="" class="btn btn-sm text-white mt-4 p-2 align-self-end" style="background-color: #5c4d4d; border-color: #5c4d4d;">Aggiungi al carrello</a>
                </div>
                <div class="row">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-sm text-white mt-4 p-2 align-self-end" style="background-color: #915b4a; border-color: #915b4a;">Torna alla Vetrina</a>
                </div>
            </div>
        </div>
    </div>
</div>


