@model SingleProduct
@using BeviSano.Controllers
@{

	ViewData["Title"] = "BeviSano";
	var errorMessage = TempData["ErrorMessage"] as string;

}

<div class="container mt-3">
	<div class="row justify-content-between">
        <div class="col-md-7">
            <div class="row">
                <div class="col-6 p-0">
                    <div><img src="@Model.Cover_Product" class="img-fluid border border-3" style="border-color: #f2f1e7 !important; " alt="@Model.Name_Product"></div>
                    <div>
                        @if (Model.Url_Img_One != null)
                        {
                            <img src="@Model.Url_Img_One" class="img-fluid border border-3" style="border-color: #f2f1e7 !important ; " alt="@Model.Name_Product">
                        }
                    </div>
                </div>
                <div class="col-6 p-0">
                    <div>
                        @if (Model.Url_Img_Two != null)
                        {
                            <img src="@Model.Url_Img_Two" class="img-fluid border border-3" style="border-color: #f2f1e7 !important ; " alt="@Model.Name_Product">
                        }
                    </div>
                    <div>
                        @if (Model.Url_Img_Three != null)
                        {
                            <img src="@Model.Url_Img_Three" class="img-fluid border border-3" style="border-color: #f2f1e7 !important ; " alt="@Model.Name_Product">
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="product-info p-4 rounded d-flex flex-column" style="background-color: #f2f1e7;">
                <div class="row">
                    <p class="text-end fw-bold" style="color: #5c4d4d;">Cod: @Model.Id_Product</p>
                </div>
                <div class="row mt-3">
                    <div class="col-7">
                        <p style="color: #915b4a;">@Model.Category_Name</p>
                        <h2 style="color: #5c4d4d;">@Model.Name_Product</h2>
                        <p style="color: #5c4d4d;">@Model.Seller_Product</p>
                    </div>
                    <div class="col-5">
                        <h4 class="text-end" style="color: #a96851;">@Model.Price_Product.ToString("0.00")€</h4>
                    </div>
                </div>
                <hr style="border-color: #915b4a;" />
                <div class="row mt-3">
                    <p class="text-muted">@Model.Description_Product</p>
                </div>

                <div class="row mt-3">
                    <div class="d-flex justify-content-end align-items-center mx-0 px-0">
                        <select class="form-select" aria-label="Seleziona quantità">
                            <option selected>Quantità</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
				<form method="post" asp-controller="Product" asp-action="AddCartDetail" asp-route-id=@Model.Id_Product>
					<div class="row mt-3">
						<div class="d-flex justify-content-end align-items-center mx-0 px-0">
							<select class="form-select" aria-label="Seleziona quantità" id="quantitySelect">
								<option>Quantità</option>

								@for (int i = 1; i < 11; i++)
								{
									if (i > Model.Stock_Product)
									{
										break;
									}
									<option value=@i>@i</option>
								}
							</select>

							<input type="hidden" name="quantity" id="quantityInput" value="1" />

							@if (HomeController.MainAccount != null)
							{
								<button type="submit" class="btn btnCart ms-2" style="border-color: #915b4a; color: #915b4a;">
									<i class="bi bi-cart-fill"></i>
								</button>
							}
							else
							{
								<button type="button" class="btn btnCart ms-2" style="border-color: #915b4a; color: #915b4a; opacity: 30%;" data-bs-toggle="tooltip" data-bs-placement="top" title="Devi effettuare il login per acquistare un prodotto">
									<i class="bi bi-cart-fill"></i>
								</button>
							}
						</div>
					</div>
				</form>

				<div class="row">
					<a asp-controller="Product" asp-action="Index" class="btn btn-sm text-white mt-4 p-2 align-self-end" style="background-color: #915b4a; border-color: #915b4a;">
						Torna alla Vetrina
					</a>
				</div>
			</div>
		</div>
		@if (!string.IsNullOrEmpty(errorMessage))
		{
			<p class="text-danger">
				@errorMessage
			</p>
		}
	</div>
</div>

@section Scripts
{
	<script>
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl)
		{
		  return new bootstrap.Tooltip(tooltipTriggerEl)
		})
		document.getElementById('quantitySelect').addEventListener('change', function() {
			var selectedQuantity = this.value;
			document.getElementById('quantityInput').value = selectedQuantity;
		});
	</script>
}




